<div class="register form">
    <h1 class="title">Register</h1>
    <form action="#" class="form-wrapper">
        <div class="form-items">
            <label for="username">UserName</label>
            <input type="text" name="username" placeholder="UserName...">
        </div>
        <div class="form-items">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Email...">
        </div>
        <div class="form-items">
            <label fro="password">Password</label>
            <input type="text" name="password" placeholder="Password...">
        </div>
        <button>Register</button>
    </form>
</div>