<div class="register form">
    <h1 class="title">Register</h1>
    <form [formGroup]="registerFormGroup" class="form-wrapper">
        <div class="form-items">
            <label for="username">UserName</label>
            <input formControlName="username" type="text" name="username" placeholder="UserName...">
        </div>
        <div class="form-items">
            <label for="email">Email</label>
            <input formControlName="email" type="text" name="email" placeholder="Email...">
        </div>
        <div class="form-items">
            <label fro="password">Password</label>
            <input formControlName="password" type="password" name="password" placeholder="Password...">
        </div>
        <button (click)="handleClick()">Register</button>
    </form>
</div>