<header>
    <nav>
        <ul>
            <div class="nav-logo">
                <li><a routerLink="">KI</a></li>
            </div>
            <div class="nav-items">
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="skills">Skills</a></li>
                <li><a routerLink="about">About</a></li>
                <li><a routerLink="contact-us">Contact Us</a></li>
                <li><a routerLink="login">Login</a></li>
                <li><a routerLink="register">Register</a></li>
            </div>
        </ul>
    </nav>
</header>