<div class="home">
    <mat-card class="banner">
        <img src="assets/images/top-banner.jpg" alt="banner">
    </mat-card>
    <h1 class="title">Junior Web Developer In London</h1>
    <h1 class="title">Skills</h1>

    <div class="skills">
        <div class="skill" *ngFor="let skill of skills; index as i">
            <mat-card class="example-card" *ngIf="i < 8">
                <img [src]="skill.img" [alt]="skill.className">
                <mat-card-title [class]="skill.className">{{skill.title}}</mat-card-title>
            </mat-card>
        </div>
    </div>
</div>