@import "~@angular/material/theming";

.banner {
    img {
        width: 100%;
        display: block;
    }
}

.title, .skills-title {
    padding: 20px 0;
    margin: 30px 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: $nav-hover;
}

.skills-wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-column-gap: 4%;
    grid-row-gap: 30px;
    margin-bottom: 50px;
    mat-card-title {
        text-align: center;
        padding-top: 15px;
        font-size: large;
    }
    img {
        display: block;
        width: 95%;
        margin: 0 auto;
        border-radius: 25px;
    }
    .html {
        color: $html-color;
    }
    .css {
        color: $css-color;
    }
    .js {
        color: $js-color;
    }
    .node {
        color: $node-color;
    }
    .mongo {
        color: $mongo-color;
    }
    .react {
        color: $react-color;
    }
    .vue {
        color: $vue-light-color;
    }
    .angular {
        color: $angular-dark-color;
    }
}

@media screen and (max-width: 900px) {
    .title {
        font-size: 25px;
    }

    .skills-wrapper {
        width: 80%;
        grid-template-columns: 48% 48%;
    }
}

@media screen and (max-width: 600px) {
    .title, .skills-title{
        font-size: 20px;
    }
    .title{
        margin-bottom: 0;
    }
    .skills-title{
        margin-top: 0;
    }
    .skills-wrapper {
        width: 70%;
        grid-template-columns: 100%;
        mat-card-title{
            font-size: 20px;
        }
    }
}


@media screen and (max-width: 500px) {
    .title, .skills-title{
        width: 350px;
        margin: 20px auto;
        font-size: 16px;
    }
    .skills-wrapper {
        width: 350px;
        .skill{
            width: 70%;
            margin: 0 auto;
        }
        mat-card-title{
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 350px) {
    .banner{
        width: 350px;
    }
}