.skills {
    width: 80%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    grid-row-gap: 40px;
    margin: 60px auto;
    mat-card-header {
        mat-card-title {
            padding: 20px;
        }
        img {
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
        }
    }
    mat-card-content {
        p {
            text-align: justify;
        }
    }
}

@media screen and (max-width: 900px) {
    .skills {
        width: 70%;
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 450px) {
    .skills {
        width: 300px;
        mat-card-header {
            mat-card-title {
                padding: 10px;
                font-size: 16px;
            }
            img {
                width: 45px;
                height: 45px;
            }
        }
    }
}