<div class="login form">
    <h1 class="title">Login</h1>
    <form [formGroup]="loginFormGroup" class="form-wrapper">
        <div class="form-items">
            <label for="email">Email</label>
            <input formControlName="emailValue" name="email" type="text" placeholder="Email...">
        </div>
        <div class="form-items">
            <label fro="password">Password</label>
            <input formControlName="passwordValue" type="password" name="password" placeholder="Password...">
        </div>
        <button (click)="handleClick()">Login</button>
    </form>
</div>