.user {
    height: 570px;
    width: 400px;
    margin: 60px auto;
    h2 {
        text-align: center;
    }
}

.example-full-width {
    width: 100%;
    margin: 15px 0;
}

.username {
    display: flex;
    justify-content: space-between;
}

.login {
    width: 100%;
    display: flex;
    justify-content: center;
    mat-label {
        padding: 10px;
    }
}

.register {
    display: block;
    width: 150px;
    margin: 20px auto;
}

@media screen and (max-width:500px){
    .user{
        width: 300px;
    }

    .username{
        mat-form-field{
        width: 45%;
        }
    }
}