<div class="skills">
    <div class="skills-title">
        <h1>Skills and Experience</h1>
    </div>
    <div class="skills-wrapper">
        <article *ngFor="let skill of skills">
            <a routerLink="details" class="skill-image">
                <img [src]="skill.img" />
            </a>
            <h3 class="skill-title">{{skill.title}}
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptates iusto architecto officia,
                    magnam...
                </span>
            </h3>
        </article>
    </div>
</div>